.verticalContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;       
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;    
    z-index: 100;
}

.horizontalContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;        

    button {
        z-index: 100;
    }
}

.arrowButtonContainer {
    overflow: hidden;
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.1s;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.2);
    &:hover {
        background-color: rgba(0, 0, 0, 0.6);
    }

    &.threed {
        height: 92%;
    }

    &.flat {
        height: 100%;
    }

    &.left {
        position: absolute;
        left: 0px;
    }

    &.right {
        position: absolute;
        right: 0px;
    }
}

.navContainer {
    margin-top: 20px;
    z-index: 200;
    width: auto;

    &.inside {
        position: relative;
        bottom: 72px;
        padding: 4px;
        mix-blend-mode: color-dodge;
        border-radius: 8px;
    }
}

.swipeContainer {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
}

.itemContainer {
    grid-column: 1;
    grid-row: 1;
    width: 0;
    z-index: 0;
    background-color: white;
    display: flex;
    align-items: center;    
    justify-content: center;

    &.threed {
        width: 53%;
        transform: scale(0.4);
    }
    &.flat {
        width: 100%;
        transform: translateX(0%);
    }
    height: 100%;
    opacity: 0;
    transition: all 0.5s;

    &.showing {
        opacity: 1;
        z-index: 2;
        &.threed {
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.32);
            transform: scale(1);
        }
        &.flat {
            animation: none;
        }
    }

    &.prev {
        &.threed {
            opacity: 1;
            z-index: 1;
            transform: translateX(-80%) scale(0.92);
            cursor: pointer;
        }
        &.flat {
            opacity: 1;
            z-index: 1;
            transform: translateX(-100%);
            cursor: pointer;
        }
    }

    &.next {
        &.threed {
            opacity: 1;
            z-index: 1;
            transform: translateX(80%) scale(0.92);
            cursor: pointer;
        }
        &.flat {
            opacity: 1;
            z-index: 1;
            transform: translateX(100%);
            cursor: pointer;
        }
    }
}

.avoid-clicks {
    pointer-events: none;
}

@keyframes opacityAnimation {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}
